
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Admin menu</h2>

@using(Html.BeginForm("SendEmailNotification", "Admin", FormMethod.Post))
{
    <span>@Html.TextBox("Recepient", "", new { @placeholder = "Input admin email", @class = "form-control"})</span>
    <span><input class="btn" type="submit" value="Send Email"></span>
}

    <h3>Administrators List</h3>
    <div id="jsGrid"></div>
    <script src="~/Scripts/grids/administrators.js"></script>

