
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<p>Email successfully sent</p>
<div class="btn btn-default">@Html.ActionLink("Back", "Index", "Admin", new { @area = "Admin"})</div>

