.carousel img{
    max-width: 250px;
    height: 250px;
    width: 80%;
    margin: 10px auto;
}

.list_item{
    height: 300px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
}

.list_item a:active{
    outline: 0;
    outline-offset: 0;
}

.product_name{
    text-align: center;
    font-size: 16px;
    color: blue;
    font-weight: bold;
}

.main_banner{
    background: url("../Files/background.png") no-repeat;
    background-size: cover;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
    color: lightskyblue;
}