@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center main_banner">
    <h1>Welcome to AlcoStore</h1>
    <p class="lead">Impossible to make bad choice here</p>
    <p>
        <a href="~/Category/" class="btn btn-primary btn-lg">
            Let's have fun
            <i class="glyphicon glyphicon-thumbs-up"></i>
        </a>
    </p>
</div>
<div id="bestsellers"><h3 class="text-center hidden">Bestsellers</h3><div class="carousel"></div></div>
<div id="topScored"><h3 class="text-center hidden">Top Scored Products</h3><div class="carousel"></div></div>


<script src="~/Scripts/slick/slick.min.js"></script>
<script src="~/Scripts/homepage.js"></script>

